In [1]:
import time
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set(color_codes=True)
import matplotlib.image as mpimg

from sklearn.cluster import KMeans

%matplotlib inline

In [10]:
df = pd.read_csv('base.csv',sep=';',decimal=',')
df.replace(to_replace=r'properties', value='jpg', regex=True,inplace=True)
df.head()

,name,b1,b2,h1,h2,s1,s2
0,0001BFD8A4B8735B5BEE52282B392820.jpg,0.4647965145718742,0.32173970803660196,0.4071637552766217,0.3724891993682404,0.4266859967637939,0.2972669844608622
1,000252148AEA0C1F52DF52067D47A924.jpg,0.9728764931169802,0.12490816829303285,0.0,0.0,0.0,0.0
2,00030CA61304CA486165F1FFE701DAF9.jpg,0.7369396703187162,0.17361123405382337,0.4680602352237899,0.17366607466548994,0.8686488625720191,0.2167704038402477
3,000502B337F3EECF034B4B202EC0250B.jpg,0.47285325451653126,0.32608111665242767,0.49178812803159494,0.22035922135828936,0.3455637393719832,0.21684421103410653
4,000527A374338971ADB8C68E3DD8FBAD.jpg,0.8094858788606986,0.3300581238396209,0.19563310138422288,0.34554802361750253,0.10586959330609105,0.24323208638722008

In [11]:
df.describe()

,name,b1,b2,h1,h2,s1,s2
count,96744,96744,96744,96744,96744,96744,96744
unique,96744,89696,89691,73476,73472,73516,73512
top,7FCF73D016AFFEAD8F10CD6C533B1B88.jpg,1.0,0.0,0.0,0.0,0.0,0.0
freq,1,1997,2012,17782,17788,17782,17787

In [12]:
X = df.iloc[:, 1:].values
X.shape

(96744, 6)

In [ ]:
clusters = [1,3,10,33,100,333,1000,3333,10000,33333]
wcss = []
for cluster in clusters:
    start_time = time.time()
    print('----- processing {} clusters'.format(cluster))
    kmeans = KMeans(n_clusters = cluster, init = 'k-means++', random_state = 0, n_jobs = -1)
    kmeans.fit(X)
    df[cluster] = kmeans.fit_predict(X)
    #print(df.columns)
    df.to_csv('searching_k.csv')
    wcss.append(kmeans.inertia_)
    print('>>>>> {} clusters: elapsed time {}'.format(cluster, time.strftime("%H:%M:%S", time.gmtime(time.time() - start_time))))

----- processing 1 clusters
>>>>> 1 clusters: elapsed time 00:00:02
----- processing 3 clusters
>>>>> 3 clusters: elapsed time 00:00:02
----- processing 10 clusters
>>>>> 10 clusters: elapsed time 00:00:06
----- processing 33 clusters
>>>>> 33 clusters: elapsed time 00:00:30
----- processing 100 clusters
>>>>> 100 clusters: elapsed time 00:03:26
----- processing 333 clusters
>>>>> 333 clusters: elapsed time 00:08:18
----- processing 1000 clusters
>>>>> 1000 clusters: elapsed time 00:20:26
----- processing 3333 clusters
>>>>> 3333 clusters: elapsed time 01:55:13
----- processing 10000 clusters

Exception in thread Thread-364:
Traceback (most recent call last):
  File "/usr/lib/python3.5/threading.py", line 914, in _bootstrap_inner
    self.run()
  File "/usr/lib/python3.5/threading.py", line 862, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 366, in _handle_workers
    pool._maintain_pool()
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 240, in _maintain_pool
    self._repopulate_pool()
  File "/usr/lib/python3.5/multiprocessing/pool.py", line 233, in _repopulate_pool
    w.start()
  File "/usr/lib/python3.5/multiprocessing/process.py", line 105, in start
    self._popen = self._Popen(self)
  File "/usr/lib/python3.5/multiprocessing/context.py", line 267, in _Popen
    return Popen(process_obj)
  File "/usr/lib/python3.5/multiprocessing/popen_fork.py", line 20, in __init__
    self._launch(process_obj)
  File "/usr/lib/python3.5/multiprocessing/popen_fork.py", line 67, in _launch
    self.pid = os.fork()
OSError: [Errno 22] Invalid argument

In [77]:
df.head()

,name,b1,b2,h1,h2,s1,s2,cat
0,0001BFD8A4B8735B5BEE52282B392820.jpg,0.4647965145718742,0.32173970803660196,0.4071637552766217,0.3724891993682404,0.4266859967637939,0.2972669844608622,5
1,000252148AEA0C1F52DF52067D47A924.jpg,0.9728764931169802,0.12490816829303285,0.0,0.0,0.0,0.0,2
2,00030CA61304CA486165F1FFE701DAF9.jpg,0.7369396703187162,0.17361123405382337,0.4680602352237899,0.17366607466548994,0.8686488625720191,0.2167704038402477,1
3,000502B337F3EECF034B4B202EC0250B.jpg,0.47285325451653126,0.32608111665242767,0.49178812803159494,0.22035922135828936,0.3455637393719832,0.21684421103410653,5
4,000527A374338971ADB8C68E3DD8FBAD.jpg,0.8094858788606986,0.3300581238396209,0.19563310138422288,0.34554802361750253,0.10586959330609105,0.24323208638722008,8